@tailwind base;
@tailwind components;
@tailwind utilities;

.color-primary {
  @apply bg-gradient-to-br from-[#0A1A2F] to-[#0E4D92];
}

.border-primary {
  @apply border-[#0E4D92];
}

.text-primary-dark {
  @apply text-[#0A1A2F];
}


html, body {
  overflow-x: hidden;
}